<!DOCTYPE html>
<html>

<body>
  <p th:if="${Hand1}">
  <div>
    [[${Hand1}]]
    [[${Hand2}]]
    [[${Hand3}]]
    [[${Hand4}]]
    [[${Hand5}]]
  </div>
  <div>
    <form action="/exchange" method="post">
      <input type="checkbox" name="h1" />
      <input type="checkbox" name="h2" />
      <input type="checkbox" name="h3" />
      <input type="checkbox" name="h4" />
      <input type="checkbox" name="h5" />
      <input type="submit" value="交換" />
    </form>
  </div>
  </p>
  <form action="/poker4" method="post">
    <input type="submit" value="確定" />
  </form>
  <p th:if="${handname}">
    [[${handname}]]
  </p>
  <p th:if="${score}">
    [[${score}]]
  </p>
</body>

</html>
